{% extends 'base.html' %}

{% block content %}
<br><br>
<h1 class="text-center">For students, By students</h1>
<h2 class="text-center">Find your perfect home away from home!</h2>
  <div class="container">
    <div class="form-group form-control-lg">
      <form action="{% url 'search' %}" method="GET">
          <div class="row align-middle">
            <div class="col-md-10"><input class="form-control" type="text" placeholder="SEARCH FOR YOUR LANDLORD BY NAME" name="q"></div>
          <div class="col-md-1"><button type="submit" class="btn btn-primary">LOOK UP</button></div>
        </div>
      </form>
    </div>
    <a href="{% url 'landlord_list' %}"><button type="button" class="btn btn-lg btn-primary btn-block">VIEW ALL LANDLORDS</button></a>
    <a href="{% url 'review_list' %}"><button type="button" class="btn btn-lg btn-primary btn-block">VIEW ALL REVIEWS</button></a>
</div>
{% endblock %}
