{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item active" aria-current="page">Reviews</li>
  </ol>
</nav>
<h2>Landlord Reviews</h2>

{% if review_list %}
{% for review in review_list %}
<div class="card">
  <div class="card-block">
    <div class="container">
      <h5 class="card-title"><a href="{% url 'landlord_detail' review.landlord.id %}">{{review.landlord}}</a></h5>
      <h6 class="card-subtitle">{{review.address}}<br></h6><br>
      <div class="row">
        <div class="col-md-3">
          <p>Rated {{review.overall_rating}}/5 by <a href="{% url 'user_review_list' review.user_name %}" >{{ review.user_name }}</a><br>
            Would Recommend? {{review.rent_again}}<br>
            Published on {{review.pub_date}}</p>
          </div>
          <div class="col-md-4">
            <span class="border-right-0">
            <strong>Apartment Condition:</strong> {{review.apartment_condition}}/5<br>
            <strong>Move in Condition:</strong> {{review.move_in_condition}}/5<br>
            <strong>Maintenance Efficiency:</strong> {{review.maintenance_efficiency}}/5<br>
          </span>
          </div>

          <div class="col-md-4">
            <strong>Communication:</strong> {{review.communication_with_your_landlord}}/5<br>
            <strong>Helpfulness:</strong> {{review.landlord_helpfulness}}/5<br>
            <strong>Treatment:</strong> {{review.treatment_by_your_landlord}}/5<br>
          </div>
        </div>

        <div class="row">
          <div class="offset-md-3 col-md-8">
            <p><strong>Comments:</strong> {{review.comment}}</p><br>
          </div>
        </div>
      </div>
      </div>
  </div>

  {% endfor %}
  {% else %}
  <p>No reviews are available.</p>
  {% endif %}
  {% endblock %}
